@media (min-width: 768px) and (max-width: 959px) {
    .uk-modal-dialog {
        width: 400px;
    }
}
@media (min-width: 960px) {
    .uk-modal-dialog {
        width: 750px;
    }
}
.uk-text-primary,
.uk-icon-button {
    color: #a047cc !important;
}
.uk-button-disabled,
.uk-button-disabled:hover {
    background-color: #fafafa;
    color: #999;
    border-color: rgba(0,0,0,.2);
    background-image: none;
    box-shadow: none;
    text-shadow: 0 1px 0 #fff;
    cursor: initial;
}
.uk-panel-box-tertiary {
    /*border-radius: 4px 4px 0px 0px;*/
    border-radius: 0;
    border-bottom: none;
}
.uk-panel-box-tertiary-flip {
    border-radius: 0px 0px 4px 4px;
    border-bottom: none;
}
.uk-panel-teaser {
    max-height: 525px;
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius: 4px 4px 0px 0px;
    border-bottom: none;
}
.uk-panel-box-tertiary-flip.content {
    border-bottom: 1px solid #ddd;
}
.uk-panel-teaser + .uk-panel-box-tertiary-flip.content {
    border-top: none;
}
.uk-navbar-attached {
    border-radius: 0px 0px 4px 4px;
    border-left: 1px solid rgba(0,0,0,0.1);
    border-right: 1px solid rgba(0,0,0,0.1);
}
.uk-navbar-attached-full {
    border-radius: 0px 0px 0px 0px;
}
.portfolio .content {
    padding: 15px 30px;
}