/* theme: Gradient */


//
// Typography
//

@global-link-color: #9933cc;
@global-link-hover-color: #aa66cc;
@base-body-font-family: Verdana, Arial, sans-serif;
@base-heading-font-family: Georgia, "Times New Roman", Times, serif;

//
// Buttons, Navs & Badges
//

@global-default-gradient-bottom: #eeeeee;
@global-primary-gradient-top: #aa66cc;
@global-primary-gradient-bottom: #9933cc;
@global-success-gradient-top: #99cc00;
@global-success-gradient-bottom: #669900;
@global-warning-gradient-top: #ffbb33;
@global-warning-gradient-bottom: #ff8800;
@global-danger-gradient-top: #ff4444;
@global-danger-gradient-bottom: #cc0000;

//
// Text
//

@text-info-color: #9933cc;
@text-success-color: #669900;
@text-warning-color: #ff8800;
@text-danger-color: #cc0000;